apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "monitor_page.fullname" . }}-front
  namespace: {{ .Values.front.namespace }}
spec:
  selector:
    matchLabels:
      {{- include "monitor_page.selectorLabels" . | nindent 6 }}
      app: front
  {{- if not .Values.front.autoscaling.enabled }}
  replicas: {{ .Values.front.replicaCount }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "monitor_page.selectorLabels" . | nindent 8 }}
        app: front
    spec:
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.front.securityContext | nindent 12 }}
          image: "{{ .Values.manager.image.repository | default (printf "%s/d0ku/monitor_page_front" .Values.baseRegistry) }}:{{ .Values.manager.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.front.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.front.resources | nindent 12 }}
          env:
          - name: REACT_APP_API_URL
            value: "{{ .Values.front.env.REACT_APP_API_URL | default (printf "https://api.%s" .Values.baseUrl) }}"
      {{- with .Values.front.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.front.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.front.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
