api_domain                = "api.auto.monitor.example.com"
front_domain              = "auto.monitor.example.com"
route53_cert_zone         = "example.com"
cognito_dev_user_enable   = true
cognito_dev_user_email    = "testuser@example.com"
cognito_dev_user_password = "testpassword"
