---
name: Prepare .zip to be used in Lambda for a single component
on:
  workflow_dispatch:
    inputs:
      component:
        required: true
        type: string

  workflow_call:
    inputs:
      component:
        required: true
        type: string
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # As we need the `plugins` directory
          submodules: true
      - name: Expose GitHub Runtime
        # This is used to allow gha caching for buildx later on
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create the package
        run: |
          GHA_DOCKER_CACHING=true ./utils/build.sh ${{ inputs.component }}

      - name: Upload the package
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: |
            .deployment-temp/build
          if-no-files-found: error
