---
name: Run tests

on:
  push:

  workflow_dispatch:

  pull_request:
jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        subproject: ['items', 'common', 'schedulers']

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'poetry'
      - name: Run pytest
        run: |
          cd ${{ matrix.subproject }}
          poetry install
          poetry run coverage run -m pytest
          poetry run coverage report


  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install and run pre-commit
        run: |
          pipx install pre-commit
          pre-commit run --all-files


  swagger-json-schemas:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Check if swagger .py json schemas are up-to-date with swagger.yaml
        run: |
          pipx install pre-commit
          pipx install openapi2jsonschema
          utils/test_json_schemas_updated.sh
