---
name: Run tests

on:
  push:

  workflow_dispatch:

  pull_request:
jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        subproject: ['items']

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'poetry'
      - name: Run pytest
        run: |
          cd ${{ matrix.subproject }}
          poetry install
          poetry run coverage run -m pytest
          poetry run coverage report


  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install and run pre-commit
        run: |
          pipx install pre-commit
          pre-commit run --all-files
