---
name: Run tests

on:
  push:

  workflow_dispatch:

  pull_request:
jobs:
  test-components:
    strategy:
      fail-fast: false
      matrix:
        cfg:
          - component: 'items'
            python-version: '3.8'
          - component: 'common'
            python-version: '3.8'
          - component: 'schedulers'
            python-version: '3.8'
    uses: ./.github/workflows/build-and-test-python.yml
    with:
      python-version: ${{ matrix.cfg.python-version }}
      directory: ${{ matrix.cfg.component }}


  pre-commit:
    runs-on: ubuntu-latest
    env:
      tflint_version: v0.44.1

    steps:
      - uses: actions/cache@v3
        name: Cache TFLint
        id: cache-tflint
        with:
          path: /usr/local/bin/tflint
          key: ${{ runner.os }}-tflint-${{ env.tflint_version }}
      #- uses: actions/cache@v3
      #  name: Cache TFLint plugin dir
      #  with:
      #    path: ~/.tflint.d/plugins
      #    key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}-${{ env.tflint_version }}
      - uses: terraform-linters/setup-tflint@v3
        name: Setup TFLint
        if: steps.cache-tflint.outputs.cache-hit != 'true'
        with:
          tflint_version: ${{ env.tflint_version }}
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0


  swagger-json-schemas:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Check if swagger .py json schemas are up-to-date with swagger.yaml
        run: |
          pipx install pre-commit
          pipx install openapi2jsonschema
          utils/test_json_schemas_updated.sh
